<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thông tin danh mục sách</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        table {
            padding: 15px;
            width: 100%;
            border-collapse: collapse;
            background-color: #fff;
            margin: 20px auto;
            max-width: 800px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        tr th, tr td {
            border-bottom: 1px solid rgb(197, 197, 197);
            text-align: left;
            padding: 10px;
        }

        tr th {
            background-color: #f9f9f9;
        }

        tr:nth-child(even) {
            background-color: #f4f4f4;
        }

        .table-header th {
            border-bottom: 2px solid black;
        }

        #<%= dom_id danh_muc %> {
            margin: 20px auto;
            max-width: 550px;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

    </style>
</head>
<body>
    <div id="<%= dom_id danh_muc %>">
        <table cellspacing="0">
            <thead class="table-header">
                <tr>
                    <th style="width: 300px;">Mã danh mục</th>
                    <th style="padding: 10px 0 10px 10%;">Tên danh mục</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><%= danh_muc.id %></td>
                    <td style="padding: 10px 0 10px 10%;"><%= danh_muc.TenDM %></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
