# Exported from Render on 2024-06-25T11:57:19Z
databases:
- name: doan
  databaseName: doan_vij0
  user: hungthinh
  plan: free

services:
  - type: web
    name: doan
    runtime: ruby
    plan: free
    buildCommand: bundle install; bundle exec rake assets:precompile; bundle exec rake assets:clean;
    startCommand:  bundle exec puma -t 5:5 -p ${PORT:-3000} -e ${RACK_ENV:-development}
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: doan
          property: connectionString
      - key: RAILS_MASTER_KEY
        sync: false
      - key: WEB_CONCURRENCY
        value: 2 # sensible default
