<h1>Editing don dat hang</h1>

<%= render "form", don_dat_hang: @don_dat_hang %>

<br>

<div>
  <%= link_to "Show this don dat hang", @don_dat_hang %> |
  <%= link_to "Back to don dat hangs", don_dat_hangs_path %>
</div>
