.feedback-content {
    padding-top: 120px;
    margin: 0px 220px 0px 250px;
}

.feedback-content-top span p{
    font-weight: bold;
    font-size: 20px;
    padding-left: 30px;
}

.feedback-content-top iframe {
    width: 1050px;
    border-radius: 20px;
    box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.3);

}

.feedback-content-bottom {
    display: flex;
}
.feedback-content-bottom-left {
    box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.3);
    border: 1px solid #dddd;
    border-radius: 20px;
    width: 350px;
    height: 250px;
    margin: 30px 0 30px 0;
    padding: 15px;
}

.feedback-content-bottom-left h5{
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.feedback-content-bottom-left .a {
    font-size: 12px;
    padding: 5px;
}

.feedback-content-bottom-left-litle {
    margin-top: 10px;
}
.feedback-content-bottom-left li {
    display: flex;
    margin-top: 10px;
}

.feedback-content-bottom-left p {
    font-size: 15px;
    padding: 5px 0 0 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.icon {
    border: 1px solid salmon;
    height: 30px;
    border-radius: 5px;
    margin-top: 10px;
}

.icon i {
    width: 30px;
    height: 30px;
    padding: 5px 0 0 7px;
    color: salmon;
}

.iconn {
    border: 1px solid salmon;
    height: 30px;
    border-radius: 5px;
    margin-top: 10px;
}

.iconn img {
    width: 30px;
    height: 25px;
}
.feedback-content-bottom-right {    
    box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.3);
    border: 1px solid #dddd;
    border-radius: 20px;
    flex: 1;
    margin: 30px 30px 30px 0px;
}

.ContactForm {
    padding: 15px;
}
.feedback-content-bottom-right h5 {
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.red {
    color: red;
}

.roww {
    display: flex;
}

.roww .col-md-6 {
    padding: 8px 0 0 0;
}

.roww .col-md-6 label {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.col-md-6 input {
    border: 1px solid #ddd;
    border-radius: 5px;
    height: 25px;
    width: 250px;
    padding: 5px;
    margin-top: 5px;
}

.col-md-6 input:focus {
    border: 1px solid #ff8e87;
    border-radius: 5px;
    height: 25px;
    width: 250px;
    padding: 5px;
    margin-top: 5px;
    outline: none;
}

.col-md-12 {
    margin: 10px 0 10px 0;
}

.col-md-12 label {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.col-md-12 textarea {
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
}

.col-md-12 textarea:focus {
    border: 1px solid #ff8e87;
    outline: none;
    margin-top: 10px;
    border-radius: 10px;
}
.pull-right {
    border: 1px solid #bebebedd;
    border-radius: 5px;
    height: 30px;
    padding: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-left: 470px;
}

.pull-right:hover {
    background-color: #ff8e87;
    color: #ffff;
    transition: all 0.3s ease-in-out;
}

/* CSS cho message box */
.message-box-feedback {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5); /* Bắt đầu với kích thước nhỏ */
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease; /* Thêm transition */
  }
  .message-box-feedback-content img {
    width: 50px;
    height: 50px;
  }
  .message-box-feedback-content {
    display: flex;
  }
  .message-box-feedback button {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffff;
    border: none;
    margin-left: 100px;
    font-size: 15px;
    cursor: pointer;
}
.message-box-feedback p {
    margin-top: 15px;
}