*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 12px 50px;
    height: 80px;
    align-items: center;
    position: fixed;
    background-color: #fff;
    width: 100%;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.3);

}

.logo{
    flex: 1;
    margin-top: 5px;
}

.menu{
    flex: 3;
    display: flex;
}

.menu li{
    padding: 0 20px;
    position: relative;
}
.menu li a{
    font-size: 15px;
    font-weight: bold;
    display: block;
    line-height: 35px;
}
.menu li:hover {
    border-bottom: 1px solid;
}
.menu > li:hover .sub-menu{
    visibility:visible;
    top: 40px;
}
.sub-menu a:hover {
    color: #fff;
}
.sub-menu li:hover {
    background-color: #000;
    transition: all 0.5s ease;
}
.sub-menu{
    background-color: #fff;
    position: absolute;
    width: 300px;
    border: 1px solid gray;
    visibility: hidden;
    top: 50px;
    transition: 0.3s;
}

.search{
    flex: 1;
    display: flex;
    margin-left: 10%;
}

.search-bar {
    position: relative;
    width: 300px;
    margin: 0 auto;
    margin-right: 50px;
  }
  
  .search-form {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .search-input {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 20px 0 0 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: border 0.3s ease;
  }
  
  .search-input:focus {
    border-color: #007bff;
    outline: none;
  }
  
  .search-button {
    background-color: #fff;
    border: 1px solid #ddd;
    border-left: none;
    padding: 10px 15px;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
  }
  
  .search-button:hover {
    background-color: #f0f0f0;
  }
  
  .search-icon {
    color: #aaa;
    font-size: 16px;
  }
  .category-select {
    background-color: #ffffff;
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: 8px 12px;
    font-size: 16px;
    line-height: 1.5;
    color: #495057;
    width: 280px; /* Adjust the width as needed */
  }
  
  .category-select:focus {
    outline: none;
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  
.sub-user {
    background-color: #fff;
    position: absolute;
    border: 1px solid gray;
    border-radius: 10px;
    visibility: hidden;
    top: 60px;
    transition: 0.3s;
}
.search > li:hover .sub-user{
    visibility:visible;
    top: 65px;
}
.sub-user a:hover {
    color: #fff;
}
.sub-user li:hover {
    background-color: #000;
    color: #fff;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.search li{
    padding: 0 12px;
}
.search-img {
    width: 20px;
    height: 20px;
}
.search img{
    width: 25px;
    height: 25px;
}
.anhdaidien{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #fff;
}

.vien {
    border-radius: 50%;
    position: relative;
    height: 30px;
    width: 30px;
    display: flex;
    border: 3px solid;
}

.vien p {
    margin: 5px;
    padding: 0 30px 0 30px;
}
.search .tennd{
    padding: 5%;
    width: 120px;
}
.search input{
    border: none;
    background-color: var(--yt-spec-badge-chip-background);
    border-bottom: 1px solid black;
    padding: 3px;
}

.search .giohang {
    padding: 3px;
    width: 25px;
}
.search > li:first-child {
    position: relative;
}
.search > li:first-child input{
    width: 100%;
    font-size: 15px;
    padding-top: 5px;
}
.search > li:first-child img{
    position: absolute;
    right: 10px;
}
.logo img {
    width: 160px;
    padding-left: 40px;
}

.dem_sp{
    font-size: 10px;
    border-radius: 5px;
    border: 1px solid;
    padding: 2px;
    margin: 0px 0px 0px 257px;
    bottom: 52px;
    position: absolute;
    background-color: #ffff;
}
/*Cartegory*/

.Cartegory {
    padding: 10px 0 0;
    
}
.Cartegory-top {
    margin-bottom: 50px;
    display: flex;
}
.row {
    display: flex;
    padding-top: 85px;
}
.Cartegory-top p {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 12px;
    font-size: 12px;
}
.Cartegory-right-item:first-child {
    flex: 3;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.Cartegory-right-item {
    flex: 1;
    padding: 0 12px;
}

select:hover {
    box-shadow: 0px 0px 2px 2px rgba(0.2, 0.2, 0.2, 0.2);
    
}

.Cartegory-right-item select:hover {
    font-weight: bold;
    font-size: 14px;
    width: 62%;
    height: 38px;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    background-color: #ffff;
    border: 1px solid #dddd;
    cursor: pointer;
    transition: all 0.3s ease;
}
select {
    border-radius: 5px;
    margin-top: 12px;
}
.Cartegory-right-item select {
    width: 60%;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    background-color: #ffff;
    border: 1px solid #dddd;
    cursor: pointer;
    
}
.Cartegory-right-content {
    margin-top: 5px;
    padding-left: 70px;
    display: flex;
    flex-flow: wrap;
}
.khung{
    border: 1px solid #dddd;
    border-radius: 10px;
    width: 252px;
    margin-left: 15px;
    margin-top: 15px;
}
.khung a{
    color: rgb(115, 60, 5);
    font-size: 14px;
    
    font-weight: bold;
}

.product-khunganh a{
    padding: 0;
}
.khngtieude {   
    width: 190px;
}
.tieude {
    display: flex;
    padding-left: 10px;
}
.khung .khunganh {
    border-radius: 10px 10px 0 0;
    height: 390px;
    width: 250px;
}
.khung:hover {
    box-shadow: 0px 0px 3px 3px rgba(0.3, 0, 0, 0.4);
    transition: all 0.3s ease;
}
.tensach {
    flex: 1;
}
.add-to-cart {
    flex: 1;
    padding: 10px;
}

.pagination{
    font-weight: bold;
    text-align: center;
    margin: 30px;
}

section .pagination a {
    margin: 5px;
    padding: 15px;
    border-radius: 20px;
    border: 1px solid #000;
}

.pagination a:hover {
    background-color: #333;
    color: #ffff;
    transition: all 0.3s ease;
}
/*product*/

.product {
    padding: 100px 0;
}
.product-content {
    display: flex;  
}
.product-content-left {
    width: 30%;
    display: flex;
}

.product-content-left-big-img {
    width: 100%;
    padding: 0 20px 20px 20px;
}

.product-content-left-big-img img {
    width: 100%;
}


.product-content-center {
    width: 40%;
}
.bangthongtin th{
    text-align: left;
}

table {
    margin: 15px 0;
}
.bangthongtin tr td {
    padding: 10px 20px;
}
.product-content-center-soluong {
    display: flex;
    margin: 12px 0px;
}

.quantity-button *{
    outline: none;
}
.quantity-button {
    display: flex;
    border: 2px solid #dddd;
    border-radius: 10px;
    width: 135px;   
    margin-left: 10px;
}
.quantity-button span {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fff;
    border: 2px solid black;
    cursor: pointer;
}
.quantity-button .tru {
    border-radius: 10px;
    flex: 1;
    border: none;
    font-size: 20px;
    font-weight: bold;
    color: #a5a3a3dd;
} 
.quantity-button .cong {
    border-radius: 10px;
    flex: 1;
    border: none;
    font-size: 20px;
    font-weight: bold;
    color: #a5a3a3dd;
}
.quantity-button input {
    flex: 2;
    border: none;
    text-align: center;
    border-left: 2px solid #dddd;
    border-right: 2px solid #dddd;
    width: 50px;
}

.quantity-button:hover {
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.3);
}

.product-content-center-button .button {
    width: 160px;
    height: 40px;
    display: block;
    margin: 10px 0 12px;
}

.product-content-center-button button {
    width: 160px;
    height: 40px;
    display: block;
    margin: 10px 0 12px;
}

.product-content-center-button .button:first-child {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fff;
    border: 2px solid black;
    cursor: pointer;
    transition: all 0.3s ease;
}

.product-content-center-button .button:first-child:hover {
    background-color: #878787;
    color: #fff;
}
.product-content-center-button button:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 2px solid black;
    cursor: pointer;
    transition: all 0.3s ease;
}
.product-content-center-button button:last-child:hover {
    background-color: #878787;
    color: #fff;
}

.product-content-center-bottom {
    border-top: 1px solid #dddd;
    position: relative;
}

.product-content-center-bottom-top {
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid #dddd;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffff;
    top: -15px;
    left: 50%;
    border-radius: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}
.product-content-center-bottom-content-title {
    border-bottom: 2px solid #dddd;
    display: flex;
}
.product-content-center-bottom-content-title-item {
    padding: 6px;
    cursor: pointer;
    margin-right: 6px;
}

.product-content-center-bottom-content-title-item p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.product-content-center-bottom-content {
    padding-top: 10px;
}
.product-content-center-bottom-content {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.product-content-center-bottom-content-title-item .mota{
    border: none;
}
.product-content-center-bottom-content-danhgia .danhgia{
    border: none;
}
.product-content-center-bottom-content-danhgia {
    display: none;
}

.product-content-right {
    max-height: 620px;
    overflow-y: auto;
    width: 30%;
    border-left: 1px solid #dddd;
    padding: 0 20px 0 20px ;
    margin: 0 0 20px 20px;
    border-radius: 5px;
}

.product-content-right-content-title {
    font-weight: bold;
    border-bottom: 1px solid #dddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.stars {
    display: flex;
    gap: 5px;
}

.star {
    font-size: 30px;
    cursor: pointer;
    color: white;
    text-shadow: 0 0 2px black;
}

.star.selected {
    color: gold;
    text-shadow: none;
}

.rating-container textarea {
    width: 100%;
    height: 100px;
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
}

.rating-container button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;

}

.rating-container button:hover {
    background-color: #45a049;
}

#review-time {
    border-top: 1px solid #dddd;
    padding-top: 5px;
    margin-top: 10px;
    font-size: 13px;
    color: grey;
}

.no-review {
    border-top: 1px solid #dddd;
    padding-top: 5px;
    margin-top: 20px;
    font-size: 13px;
    color: grey;
}


/* CSS cho message box */
.message-box {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5); /* Bắt đầu với kích thước nhỏ */
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease; /* Thêm transition */
  }
  .message-box-content img {
    width: 50px;
    height: 50px;
  }
  .message-box-content {
    display: flex;
  }
  .message-box button {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffff;
    border: none;
    margin-left: 145px;
    font-size: 15px;
    cursor: pointer;
}
.message-box p {
    margin-top: 15px;
}

.khongcosach {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}


#notification {
    display: none;
    position: fixed;
    top: 10px;
    right: 10px;
    color: white;
    padding: 10px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
#notification.success {
    background: #4CAF50;
}
#notification.error {
    background: #f44336;
}
#notification.show {
    display: block;
    opacity: 1;
}
#notification.hide {
    opacity: 0;
}
#notification-close {
    background: none;
    border: none;
    color: white;
    font-weight: bold;
    margin-left: 10px;
    cursor: pointer;
}